<div class="container">
	<% if @message %>
	<div class="page-header">
		<h1>Message from <%= @message.sender.name %></h1>
		<p class="text-mute">at <%= @message.created_at.strftime("%Y, %B-%d %H:%M:%S")%></p>
	</div>
	<div class="message"><%= @message.message %></div>
	<p><%= link_to 'Back', root_path, :class => 'btn btn-primary'%></p>
	<% end %>
</div>