<div id="register">
	<div class="container bg-white">
		<div class="page-header">
			<h1>Register</h1>
			<p>Connect with friends and the world around you</p>
		</div>
		<%= render 'form' %>
	</div>
</div>
