body.users-new, body.users-create{
	height: 100%;
	background: image-url('bg-signup.jpg') no-repeat center center transparent;
	background-size: cover;
}
#register{
	.bg-white{
		padding-bottom: 30px;
	}
}